<header class="bar bar-nav">
  <a class="icon icon-refresh pull-right"></a>
  <h1 class="title">Welcome to Ember.js</h1>
</header>

<div class="bar bar-footer">
  <a class="icon icon-compose pull-right" href="#composeModal"></a>
</div>

<div class="content">
  {{animated-outlet name="main"}}
</div>

