<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title>My Ember App</title>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <%= javascript_include_tag "application" %>
  </body>
</html>
