<!DOCTYPE html>
<html>
<head>
  <title>QUnit with Ember</title>
  <%= stylesheet_link_tag "tests/tests.css" %>
</head>
<body>
  <div id="qunit"></div>
  <div id="qunit-fixture"></div>
  <div id="ember-testing-container">
    <div id="ember-testing"></div>
  </div>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "tests/tests.js" %>
</body>
</html>
